* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#header-container {
  background-image: url("../images/banner.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 0px 0px 170px 170px;
}
